@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --font-jost: "Jost", sans-serif;
  --font-oswald: "Oswald", sans-serif;

  --color-light-grayish: #eeebe4;
  --color-strong-orange: #bb3e03;
  --color-dark-blue: #001219;
  --color-dark-cyan: #043b3c;
  --color-deep-dark-cyan: #076769;
  --color-cyan: #0a9396;
  --color-desaturated-cyan: #9dd4d5;
  --color-ocean-sunset: #ee9b00;
  --color-blue-green: #109295;
  --color-raisin-black: #262626;

  --color-dark-gray: #585858;
  --color-gray-400: #929292;
  --color-gray-700: #343434;
  --color-gray-800: #2a2a2a;
  --color-gray-200: #e4e4e4;
  --color-gray-100: #828282;
  --color-light-gray1: #ededed;
  --color-light-grayish-blue: #f1f4f9;
  --color-deep-blue: #0c0d12;
  --color-eerie-black: #1c1c1c;
  --color-davys-Grey: #595959;
  --color-gray-500: #5e5e5e;
  --color-grey-blue: #f1f4f9;
  --color-pale-beige: #faf5f3;
  --color-fashion-gray: #8d8d8d;
  --color-gainsboro-gray: #dddddd;
  --color-orange-passion: #f5821f;
  --color-magenta: #360842;

  --color-light-silver: #d9d9d9;
  --color-light-gray: #e8e8e8;
  --color-dust-gray: #d6d6d6;
  --color-pure-red: #ff0000;

  --color-dark-midnight-blue: #041e28;

  --color-blue: #109295;
  --color-light-cream: #fef5f1;

  /* gradient variables */
  --gradient-light-cream: linear-gradient(
    118deg,
    #fff4ef 8.56%,
    #e4daca 95.81%
  );
  --gradient-light-purple: linear-gradient(
    280deg,
    #d5bdf8 10.3%,
    #cddbfe 77.07%
  );
  --gradient-light-blue: linear-gradient(
    254deg,
    #a3fac6 -0.13%,
    #8fc8fe 82.13%
  );
  --gradient-purple-pink: linear-gradient(250deg, #dcccfe 14.48%, #f8d1c9 100%);
  --gradient-green-blue: linear-gradient(
    254deg,
    #a3fac6 -0.13%,
    #8fc8fe 82.13%
  );
  --gradient-dark-purple: linear-gradient(100deg, #9e708d 4.92%, #1c4771 100%);
  --gradient-light-gray: linear-gradient(114deg, #d3cce3 2.47%, #e9e4f0 87.83%);
  --gradient-dark-blue: linear-gradient(106deg, #4a2c3f 3.46%, #486d83 78.27%);
  --gradient-font-blue: linear-gradient(90deg, #14d1ff 0%, #009ffc 100%);
  --gradient-dark-orange: linear-gradient(
    112deg,
    #c5744e 2.72%,
    #8d4820 99.07%
  );
  --gradient-light-cream: linear-gradient(
    118deg,
    #fff4ef 8.56%,
    #e4daca 95.81%
  );
  --gradient-light-purple: linear-gradient(
    280deg,
    #d5bdf8 10.3%,
    #cddbfe 77.07%
  );
  --gradient-light-blue: linear-gradient(
    254deg,
    #a3fac6 -0.13%,
    #8fc8fe 82.13%
  );
  --gradient-purple-pink: linear-gradient(250deg, #dcccfe 14.48%, #f8d1c9 100%);
  --gradient-green-blue: linear-gradient(
    254deg,
    #a3fac6 -0.13%,
    #8fc8fe 82.13%
  );
  --gradient-dark-purple: linear-gradient(100deg, #9e708d 4.92%, #1c4771 100%);
  --gradient-light-gray: linear-gradient(114deg, #d3cce3 2.47%, #e9e4f0 87.83%);
  --gradient-dark-blue: linear-gradient(106deg, #4a2c3f 3.46%, #486d83 78.27%);
  --gradient-font-blue: linear-gradient(90deg, #14d1ff 0%, #009ffc 100%);
  --gradient-dark-orange: linear-gradient(
    112deg,
    #c5744e 2.72%,
    #8d4820 99.07%
  );
  --gradient-light-cream-bottom: linear-gradient(
    192deg,
    #fff 7.09%,
    #fff4ef 90.94%
  );
  --gradient-light-cream-top: linear-gradient(0deg, #fff 7.09%, #fff4ef 90.94%);
  --gradient-light-purple-left: linear-gradient(
    114deg,
    #d3cce3 2.47%,
    #e9e4f0 32.2%
  );
  /* variables */
  --gradient-linear: linear-gradient(192deg, #fff 7.09%, #fff4ef 90.94%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --default-font-family: var(--font-jost);
  --font-oswald: var(--font-oswald);

  --color-light-grayish: var(--color-light-grayish);

  --color-gray-100: var(--color-gray-100);
  --color-gray-200: var(--color-gray-200);
  --color-gray-400: var(--color-gray-400);
  --color-gray-500: var(--color-gray-500);
  --color-gray-700: var(--color-gray-700);
  --color-gray-800: var(--color-gray-800);
  --color-dark-gray: var(--color-dark-gray);
  --color-light-grayish-blue: var(--color-light-grayish-blue);

  --color-dark-cyan: var(--color-dark-cyan);
  --color-deep-dark-cyan: var(--color-deep-dark-cyan);
  --color-cyan: var(--color-cyan);
  --color-desaturated-cyan: var(--color-desaturated-cyan);
  --color-dark-blue: var(--color-dark-blue);
  --color-strong-orange: var(--color-strong-orange);
  --color-ocean-sunset: var(--color-ocean-sunset);
  --color-deep-blue: var(--color-deep-blue);
  --color-blue-green: var(--color-blue-green);
  --color-raisin-black: var(--color-raisin-black);
  --color-eerie-black: var(--color-eerie-black);
  --color-davys-Grey: var(--color-davys-Grey);
  --color-grey-blue: var(--color-grey-blue);
  --color-pale-beige: var(--color-pale-beige);
  --color-fashion-gray: var(--color-fashion-gray);
  --color-gainsboro-gray: var(--color-gainsboro-gray);
  --color-orange-passion: var(--color-orange-passion);
  --color-magenta: var(--color-magenta);

  --color-blue: var(--color-blue);
  --color-light-cream: var(--color-light-cream);
  --color-pure-red: var(--color-pure-red);

  --color-light-silver: var(--color-light-silver);
  --color-light-gray: var(--color-light-gray);
  --color-light-gray1: var(--color-light-gray1);
  --color-dust-gray: var(--color-dust-gray);
  --color-dark-midnight-blue: var(--color-dark-midnight-blue);

  --breakpoint-sm: 320px;
  --breakpoint-md: 600px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1600px;
  --breakpoint-2xl: 1920px;
}

@layer components {
  /* gradients */
  .bg-light-cream-gradient {
    background: var(--gradient-light-cream);
  }

  .bg-light-cream-bottom {
    background: var(--gradient-light-cream-bottom);
  }

  .bg-light-cream-top {
    background: var(--gradient-light-cream-top);
  }

  .bg-light-purple-gradient {
    background: var(--gradient-light-purple);
  }
  .bg-light-purple-left-gradient {
    background: var(--gradient-light-purple-left);
  }

  .bg-light-blue-gradient {
    background: var(--gradient-light-blue);
  }

  .bg-purple-pink-gradient {
    background: var(--gradient-purple-pink);
  }

  .bg-green-blue-gradient {
    background: var(--gradient-green-blue);
  }

  .bg-dark-purple-gradient {
    background: var(--gradient-dark-purple);
  }

  .bg-light-gray-gradient {
    background: var(--gradient-light-gray);
  }

  .bg-dark-blue-gradient {
    background: var(--gradient-dark-blue);
  }

  .bg-dark-orange-gradient {
    background: var(--gradient-dark-orange);
  }

  .bg-linear-gradient {
    background: var(--gradient-linear);
  }

  .text-font-blue-gradient {
    background: var(--gradient-font-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  /* containers */
  .container--95 {
    @apply w-[90%] lg:w-[95%] mx-auto;
  }
  .container--90 {
    @apply w-[90%] lg:w-[90%] mx-auto;
  }
  .container--85 {
    @apply w-[90%] lg:w-[85%] mx-auto;
  }
  .container--80 {
    @apply w-[90%] lg:w-[80%] mx-auto;
  }
  .container--75 {
    @apply w-[90%] lg:w-[75%] mx-auto;
  }
  .container--70 {
    @apply w-[90%] lg:w-[70%] mx-auto;
  }
  .container--65 {
    @apply w-[90%] lg:w-[65%] mx-auto;
  }
  .container--60 {
    @apply w-[90%] lg:w-[60%] mx-auto;
  }
  .container--55 {
    @apply w-[90%] lg:w-[55%] mx-auto;
  }

  .container--50 {
    @apply w-[90%] lg:w-[50%] mx-auto;
  }
  .container--40 {
    @apply w-[90%] lg:w-[40%] mx-auto;
  }
  .container--35 {
    @apply w-[90%] lg:w-[35%] mx-auto;
  }

  .container--30 {
    @apply w-[90%] lg:w-[30%] mx-auto;
  }
  .container--25 {
    @apply w-[90%] lg:w-[25%] mx-auto;
  }
  .container--20 {
    @apply w-[90%] lg:w-[20%] mx-auto;
  }

  /* padding top */

  .pt--250 {
    @apply pt-[120px] lg:pt-[calc(250/1920*100vw)];
  }
  .pt--200 {
    @apply pt-[100px] lg:pt-[calc(200/1920*100vw)];
  }

  .pt--180 {
    @apply pt-[100px] lg:pt-[calc(180/1920*100vw)];
  }

  .pt--160 {
    @apply pt-[100px] lg:pt-[calc(160/1920*100vw)];
  }

  .pt--150 {
    @apply pt-[100px] lg:pt-[calc(150/1920*100vw)];
  }

  .pt--130 {
    @apply pt-[50px] lg:pt-[calc(130/1920*100vw)];
  }

  .pt--110 {
    @apply pt-[40px] lg:pt-[calc(110/1920*100vw)];
  }

  .pt--100 {
    @apply pt-[50px] lg:pt-[calc(100/1920*100vw)];
  }

  .pt--80 {
    @apply pt-[30px] lg:pt-[calc(80/1920*100vw)];
  }

  .pt--70 {
    @apply pt-[30px] lg:pt-[calc(70/1920*100vw)];
  }

  .pt--60 {
    @apply pt-[40px] lg:pt-[calc(60/1920*100vw)];
  }

  .pt--50 {
    @apply pt-[40px] lg:pt-[calc(50/1920*100vw)];
  }

  .pt--40 {
    @apply pt-[20px] lg:pt-[calc(40/1920*100vw)];
  }

  .pt--30 {
    @apply pt-[20px] lg:pt-[calc(30/1920*100vw)];
  }

  .pt--20 {
    @apply pt-[15px] lg:pt-[calc(20/1920*100vw)];
  }

  .pt--15 {
    @apply pt-[15px] lg:pt-[calc(15/1920*100vw)];
  }

  .pt--10 {
    @apply pt-[10px] lg:pt-[calc(10/1920*100vw)];
  }

  /* padding bottom */

  .pb--200 {
    @apply pb-[60px] lg:pb-[calc(200/1920*100vw)];
  }

  .pb--150 {
    @apply pb-[60px] lg:pb-[calc(150/1920*100vw)];
  }

  .pb--130 {
    @apply pb-[60px] lg:pb-[calc(130/1920*100vw)];
  }

  .pb--100 {
    @apply pb-[60px] lg:pb-[calc(100/1920*100vw)];
  }

  .pb--80 {
    @apply pb-[40px] lg:pb-[calc(80/1920*100vw)];
  }

  .pb--70 {
    @apply pb-[30px] lg:pb-[calc(70/1920*100vw)];
  }

  .pb--50 {
    @apply pb-[30px] lg:pb-[calc(50/1920*100vw)];
  }

  .pb--40 {
    @apply pb-[20px] lg:pb-[calc(40/1920*100vw)];
  }

  .pb--30 {
    @apply pb-[20px] lg:pb-[calc(30/1920*100vw)];
  }

  .pb--20 {
    @apply pb-[15px] lg:pb-[calc(20/1920*100vw)];
  }

  .pb--15 {
    @apply pb-[15px] lg:pb-[calc(15/1920*100vw)];
  }

  .pb--10 {
    @apply pb-[10px] lg:pb-[calc(10/1920*100vw)];
  }

  /* padding block */
  .py--150 {
    @apply py-[100px] lg:py-[calc(150/1920*100vw)];
  }

  .py--100 {
    @apply py-[60px] lg:py-[calc(100/1920*100vw)];
  }

  .py--80 {
    @apply py-[50px] lg:py-[calc(80/1920*100vw)];
  }

  .py--70 {
    @apply py-[40px] lg:py-[calc(70/1920*100vw)];
  }

  .py--60 {
    @apply py-[40px] lg:py-[calc(60/1920*100vw)];
  }

  .py--50 {
    @apply py-[30px] lg:py-[calc(50/1920*100vw)];
  }

  .mob-py--30 {
    @apply py-[30px] md:py-[0px] lg:py-[calc(0/1920*100vw)];
  }

  .py--40 {
    @apply py-[25px] lg:py-[calc(40/1920*100vw)];
  }

  .py--30 {
    @apply py-[20px] lg:py-[calc(30/1920*100vw)];
  }

  .py--25 {
    @apply py-[20px] lg:py-[calc(25/1920*100vw)];
  }

  .py--20 {
    @apply py-[15px] lg:py-[calc(20/1920*100vw)];
  }

  .py--15 {
    @apply py-[10px] lg:py-[calc(15/1920*100vw)];
  }

  .py--10 {
    @apply py-[10px] lg:py-[calc(10/1920*100vw)];
  }

  .py--5 {
    @apply py-[5px] lg:py-[calc(5/1920*100vw)];
  }

  .px--150 {
    @apply px-[60px] lg:px-[calc(150/1920*100vw)];
  }

  .px--140 {
    @apply px-[60px] lg:px-[calc(140/1920*100vw)];
  }

  .px--130 {
    @apply px-[60px] lg:px-[calc(130/1920*100vw)];
  }

  .px--120 {
    @apply px-[60px] lg:px-[calc(120/1920*100vw)];
  }

  .px--110 {
    @apply px-[60px] lg:px-[calc(110/1920*100vw)];
  }

  .px--100 {
    @apply px-[50px] lg:px-[calc(100/1920*100vw)];
  }

  .px--90 {
    @apply px-[40px] lg:px-[calc(90/1920*100vw)];
  }

  .px--80 {
    @apply px-[40px] lg:px-[calc(80/1920*100vw)];
  }

  .px--70 {
    @apply px-[30px] lg:px-[calc(70/1920*100vw)];
  }

  .px--60 {
    @apply px-[30px] lg:px-[calc(60/1920*100vw)];
  }

  .px--50 {
    @apply px-[20px] lg:px-[calc(50/1920*100vw)];
  }

  .px--40 {
    @apply px-[20px] md:px-[20px] lg:px-[calc(40/1920*100vw)];
  }

  .px--30 {
    @apply px-[20px] lg:px-[calc(30/1920*100vw)];
  }

  .px--25 {
    @apply px-[15px] lg:px-[calc(25/1920*100vw)];
  }

  .px--20 {
    @apply px-[15px] lg:px-[calc(20/1920*100vw)];
  }

  .px--15 {
    @apply px-[15px] lg:px-[calc(15/1920*100vw)];
  }

  .px--10 {
    @apply px-[10px] lg:px-[calc(10/1920*100vw)];
  }

  /* padding left */
  .pl--10 {
    @apply pl-[10px] lg:pl-[calc(10/1920*100vw)];
  }

  .pl--20 {
    @apply pl-[10px] lg:pl-[calc(20/1920*100vw)];
  }

  .pl--30 {
    @apply pl-[10px] lg:pl-[calc(30/1920*100vw)];
  }

  .pl--40 {
    @apply pl-[20px] lg:pl-[calc(40/1920*100vw)];
  }

  .pl--50 {
    @apply pl-[20px] lg:pl-[calc(50/1920*100vw)];
  }

  .pl--80 {
    @apply pl-[30px] lg:pl-[calc(80/1920*100vw)];
  }

  .pl--70 {
    @apply pl-[30px] lg:pl-[calc(70/1920*100vw)];
  }

  .pl--100 {
    @apply pl-[0px] lg:pl-[calc(100/1920*100vw)];
  }

  .pl--200 {
    @apply pl-[0px] lg:pl-[calc(200/1920*100vw)];
  }

  /* padding rigth */

  .pr--5 {
    @apply pr-[5px] lg:pr-[calc(5/1920*100vw)];
  }

  .pr--10 {
    @apply pr-[10px] lg:pr-[calc(10/1920*100vw)];
  }

  .pr--15 {
    @apply pr-[10px] lg:pr-[calc(15/1920*100vw)];
  }

  .pr--20 {
    @apply pr-[10px] lg:pr-[calc(20/1920*100vw)];
  }

  .pr--30 {
    @apply pr-[20px] lg:pr-[calc(30/1920*100vw)];
  }

  .pr--40 {
    @apply pr-[20px] lg:pr-[calc(40/1920*100vw)];
  }

  .pr--50 {
    @apply pr-[20px] lg:pr-[calc(50/1920*100vw)];
  }

  .pr--60 {
    @apply pr-[30px] lg:pr-[calc(60/1920*100vw)];
  }

  .pr--70 {
    @apply pr-[30px] lg:pr-[calc(70/1920*100vw)];
  }

  .pr--80 {
    @apply pr-[30px] lg:pr-[calc(80/1920*100vw)];
  }

  .pr--100 {
    @apply pr-[30px] lg:pr-[calc(100/1920*100vw)];
  }

  /* --------------- Custom -------------- */

  .container--82 {
    @apply w-[90%] lg:w-[82%] mx-auto;
  }

  .container--92 {
    @apply w-[90%] lg:w-[92%] mx-auto;
  }

  .container--76 {
    @apply w-[90%] lg:w-[76%] mx-auto;
  }

  /* padding block */
  .py--130 {
    @apply py-[40px] lg:py-[calc(130/1920*100vw)];
  }

  .pb--0 {
    padding-bottom: 0 !important;
  }
  .pt--0 {
    padding-top: 0 !important;
  }

  /* text */
  .text--150 {
    @apply text-[64px] lg:text-[calc(150/1920*100vw)];
    @apply leading-normal;
  }

  .text--130 {
    @apply text-[50px] lg:text-[calc(130/1920*100vw)];
    @apply leading-normal;
  }

  .text--100 {
    @apply text-[40px] lg:text-[calc(100/1920*100vw)];
    @apply leading-[40px] md:leading-[40px] lg:leading-[calc(100/1920*100vw)];
  }

  .text--90 {
    @apply text-[50px] lg:text-[calc(90/1920*100vw)];
    @apply leading-normal;
  }

  .text--80 {
    @apply text-[35px] lg:text-[calc(80/1920*100vw)];
    @apply leading-normal;
  }

  .text--75 {
    @apply text-[35px] lg:text-[calc(75/1920*100vw)];
    @apply leading-normal;
  }

  .text--64 {
    @apply text-[34px] md:text-[44px] lg:text-[calc(64/1920*100vw)];
    @apply leading-normal;
  }

  .text--60 {
    @apply text-[34px] md:text-[44px] lg:text-[calc(60/1920*100vw)];
    @apply leading-normal;
  }

  .text--56 {
    @apply text-[30px] lg:text-[calc(56/1920*100vw)];
    @apply leading-normal;
  }

  .text--50 {
    @apply text-[28px] lg:text-[calc(50/1920*100vw)];
    @apply leading-normal;
  }

  .text--48 {
    @apply text-[25px] lg:text-[calc(48/1920*100vw)];
    @apply leading-normal;
  }

  .text--46 {
    @apply text-[25px] lg:text-[calc(46/1920*100vw)];
    @apply leading-normal;
  }

  .text--44 {
    @apply text-[24px] lg:text-[calc(44/1920*100vw)];
    @apply leading-normal;
  }

  .text--42 {
    @apply text-[24px] lg:text-[calc(42/1920*100vw)];
    @apply leading-normal;
  }

  .text--40 {
    @apply text-[23px] lg:text-[calc(40/1920*100vw)];
    @apply leading-normal;
  }

  .text--38 {
    @apply text-[22px] lg:text-[calc(38/1920*100vw)];
    @apply leading-normal;
  }

  .text--36 {
    @apply text-[22px] lg:text-[calc(36/1920*100vw)];
    @apply leading-normal;
  }

  .text--35 {
    @apply text-[22px] lg:text-[calc(35/1920*100vw)];
    @apply leading-normal;
  }

  .text--32 {
    @apply text-[21px] lg:text-[calc(32/1920*100vw)];
    @apply leading-normal;
  }

  .text--32--custom {
    @apply text-[28px] lg:text-[calc(32/1920*100vw)];
    @apply leading-normal;
  }

  .text--30-custom {
    @apply text-[45px] lg:text-[calc(30/1920*100vw)];
    @apply leading-normal;
  }

  .text--30 {
    @apply text-[21px] lg:text-[calc(30/1920*100vw)];
    @apply leading-normal;
  }

  .text--28 {
    @apply text-[20px] md:text-[24px] lg:text-[calc(28/1920*100vw)];
    @apply leading-normal;
  }

  .text--27 {
    @apply text-[20px] lg:text-[calc(27/1920*100vw)];
    @apply leading-normal;
  }

  .text--26 {
    @apply text-[19px] lg:text-[calc(26/1920*100vw)];
    @apply leading-normal;
  }

  .text--25 {
    @apply text-[18px] lg:text-[calc(25/1920*100vw)];
    @apply leading-[28px] md:leading-[30px] lg:leading-[calc(40/1920*100vw)];
  }

  .text--24 {
    @apply text-[17px] lg:text-[calc(24/1920*100vw)];
    @apply leading-normal;
  }

  .text--23 {
    @apply text-[17px] lg:text-[calc(23/1920*100vw)];
    @apply leading-normal;
  }

  .text--22 {
    @apply text-[18px] lg:text-[calc(22/1920*100vw)];
    @apply leading-[30px] md:leading-[30px] lg:leading-[calc(35/1920*100vw)];
  }

  .text--20 {
    @apply text-[16px] md:text-[18px] lg:text-[calc(20/1920*100vw)];
    @apply leading-[28px] md:leading-[30px] lg:leading-[calc(35/1920*100vw)];
  }

  .text--18 {
    @apply text-[16px] md:text-[16px] lg:text-[calc(18/1920*100vw)];
    @apply leading-[28px] md:leading-[30px] lg:leading-[calc(35/1920*100vw)];
  }

  .text--17 {
    @apply text-[14px] md:text-[16px] lg:text-[calc(17/1920*100vw)];
    @apply leading-normal;
  }

  .text--16 {
    @apply text-[14px] lg:text-[calc(16/1920*100vw)];
    @apply leading-[28px] md:leading-[30px] lg:leading-[calc(32/1920*100vw)];
  }

  .text--15 {
    @apply text-[13px] lg:text-[calc(15/1920*100vw)];
    @apply leading-normal;
  }

  .text--14 {
    @apply text-[12px] lg:text-[calc(14/1920*100vw)];
    @apply leading-normal;
  }

  .text--13 {
    @apply text-[11px] md:text-[12px] lg:text-[calc(13/1920*100vw)];
  }

  .text--12 {
    @apply text-[11px] lg:text-[calc(12/1920*100vw)];
  }

  .text--8 {
    @apply text-[6px] lg:text-[calc(8/1920*100vw)];
  }

  /* spaces */

  .space--210 {
    @apply gap-[30px] md:gap-[35px] lg:gap-[calc(220/1920*100vw)];
  }
  .space--200 {
    @apply gap-[30px] md:gap-[35px] lg:gap-[calc(200/1920*100vw)];
  }

  .space--150 {
    @apply gap-[30px] md:gap-[35px] lg:gap-[calc(150/1920*100vw)];
  }

  .space--140 {
    @apply gap-[30px] md:gap-[35px] lg:gap-[calc(140/1920*100vw)];
  }

  .space--120 {
    @apply gap-[30px] md:gap-[35px] lg:gap-[calc(120/1920*100vw)];
  }

  .space--100 {
    @apply gap-[30px] md:gap-[35px] lg:gap-[calc(100/1920*100vw)];
  }

  .space--80 {
    @apply gap-[30px] md:gap-[35px] lg:gap-[calc(80/1920*100vw)];
  }

  .space--70 {
    @apply gap-[25px] md:gap-[30px] lg:gap-[calc(70/1920*100vw)];
  }

  .space--60 {
    @apply gap-[50px] md:gap-[50px] lg:gap-[calc(60/1920*100vw)];
  }

  .space--50 {
    @apply gap-[15px] md:gap-[30px] lg:gap-[calc(50/1920*100vw)];
  }

  .space--40 {
    @apply gap-[30px] md:gap-[30px] lg:gap-[calc(40/1920*100vw)];
  }

  .space--30 {
    @apply gap-[20px] md:gap-[20px] lg:gap-[calc(30/1920*100vw)];
  }

  .space--25 {
    @apply gap-[25px] md:gap-[20px] lg:gap-[calc(20/1920*100vw)];
  }

  .space--20 {
    @apply gap-[20px] md:gap-[20px] lg:gap-[calc(20/1920*100vw)];
  }

  .space--15 {
    @apply gap-[15px] md:gap-[10px] lg:gap-[calc(15/1920*100vw)];
  }

  .gap--5 {
    @apply gap-[10px] md:gap-[10px] lg:gap-[calc(20/1920*100vw)];
  }

  .space--10 {
    @apply gap-[10px] md:gap-[8px] lg:gap-[calc(10/1920*100vw)];
  }
  .space--20 {
    @apply gap-[7px] md:gap-[8px] lg:gap-[calc(20/1920*100vw)];
  }

  .space--15-custom {
    @apply gap-[5px] md:gap-[5px] lg:gap-[calc(15/1920*100vw)];
  }
  .space-x--20 {
    @apply gap-x-[20px] md:gap-x-[20px] lg:gap-x-[calc(20/1920*100vw)];
  }
  .space-x--30 {
    @apply gap-x-[20px] md:gap-x-[20px] lg:gap-x-[calc(30/1920*100vw)];
  }
  .space-x--50 {
    @apply gap-x-[30px] md:gap-x-[30px] lg:gap-x-[calc(50/1920*100vw)];
  }
  .space-y--30 {
    @apply gap-y-[20px] md:gap-y-[20px] lg:gap-y-[calc(30/1920*100vw)];
  }
  .space-y--50 {
    @apply gap-y-[30px] md:gap-y-[30px] lg:gap-y-[calc(50/1920*100vw)];
  }

  /* height */

  .h--50 {
    @apply h-[35px] md:h-[45px] lg:h-[calc(50/1920*100vw)];
  }

  .h--45 {
    @apply h-[25px] md:h-[30px] lg:h-[calc(45/1920*100vw)];
  }

  .h--45 {
    @apply h-[20px] md:h-[25px] lg:h-[calc(40/1920*100vw)];
  }
  /* width */
  .w--150 {
    @apply w-[60px] md:w-[100px] lg:w-[calc(150/1920*100vw)];
  }
  .w--50 {
    @apply w-[35px] md:w-[40px] lg:w-[calc(50/1920*100vw)];
  }

  .w--45 {
    @apply w-[25px] md:w-[30px] lg:w-[calc(45/1920*100vw)];
  }

  .w--40 {
    @apply w-[20px] md:w-[25px] lg:w-[calc(40/1920*100vw)];
  }
  .w--40 {
    @apply w-[30px] md:w-[30px] lg:w-[calc(40/1920*100vw)];
  }
  .h--40 {
    @apply h-[30px] md:h-[30px] lg:h-[calc(40/1920*100vw)];
  }

  .bottom--30 {
    @apply bottom-[30px] md:bottom-[35px] lg:bottom-[calc(30/1920*100vw)];
  }
  .left--30 {
    @apply left-[30px] md:left-[35px] lg:left-[calc(30/1920*100vw)];
  }
  .bottom--20 {
    @apply bottom-[30px] md:bottom-[35px] lg:bottom-[calc(20/1920*100vw)];
  }
  .left--20 {
    @apply left-[30px] md:left-[35px] lg:left-[calc(20/1920*100vw)];
  }
  .mb--10 {
    @apply mb-[10px] md:mb-[15px] lg:mb-[calc(10/1920*100vw)];
  }
  .mt--20 {
    @apply mt-[10px] md:mt-[15px] lg:mt-[calc(20/1920*100vw)];
  }
  .mb--20 {
    @apply mb-[10px] md:mb-[15px] lg:mb-[calc(20/1920*100vw)];
  }
  .mb--50 {
    @apply mb-[20px] md:mb-[30px] lg:mb-[calc(50/1920*100vw)];
  }
  .mt--50 {
    @apply mt-[20px] md:mt-[30px] lg:mt-[calc(50/1920*100vw)];
  }
  .mr--10 {
    @apply mr-[10px] md:mr-[15px] lg:mr-[calc(10/1920*100vw)];
  }
  .ml--10 {
    @apply ml-[10px] md:ml-[15px] lg:ml-[calc(10/1920*100vw)];
  }
  .mr--20 {
    @apply mr-[10px] md:mr-[15px] lg:mr-[calc(20/1920*100vw)];
  }
  .ml--20 {
    @apply ml-[10px] md:ml-[15px] lg:ml-[calc(20/1920*100vw)];
  }
  .mt--30 {
    @apply mt-[20px] md:mt-[20px] lg:mt-[calc(30/1920*100vw)];
  }

  .w--175 {
    @apply w-[100px] md:w-[150px] lg:w-[calc(175/1920*100vw)];
  }
  .h--175 {
    @apply h-[100px] md:h-[150px] lg:h-[calc(175/1920*100vw)];
  }
}

@layer base {
  /* Custom scrollbar */
  ::-webkit-scrollbar {
    width: 5px;
    height: 2px;
  }

  ::-webkit-scrollbar-thumb {
    background: #313131;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  .grecaptcha-badge {
    visibility: hidden;
  }

  ::selection {
    background-color: var(--color-deep-blue);
    color: white;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #eeebe4;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
